main {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	font-size: 0;
}

div {
	border: 1px solid black;
}


div.top-row {
	display: inline-block;
	height: 200px;
	width: 50%;
}

div.bottom-row {
	display: inline-block;
	height: 300px;
	width: 33.33%;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.grey {
	background: grey;
}

.black {
	background: black;
}

.orange {
	background: orange;
}