/*BACKGROUND IMAGE*/



/*NAVBAR*/

nav {
	position: fixed;
	height: 80px;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
	text-align: left;
	background: grey;
	top: 0px;
}

nav img {
	border-radius: 50%;
	border: 1px solid black;
	width: 60px;
	position: relative;
	top: 10px;

}

nav li, nav ul {
	display: inline-block;
}

nav li {
	padding-right: 5px;
	border-right: 2px solid black;
}

ul {
	position: relative;
	bottom: 15px;
}

/*MAIN STYLING*/


.green-box {
	width: 600px;
	height: 300px;
	margin: 200px auto;
	border: 10px dashed green;
	position: relative;
}

main img {
	width: 200px;
	height: 200px;
	position: absolute;
}

img[alt="spacedog"] {
	top: 200px;
	left: 500px;
}

img[alt="spacecat"] {
	right: 500px;
	bottom: 200px;
}